<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Modificar mi foto de perfil</h1>

    <img src="/uploads/avatar-1589931605165.png" alt="">

    <form action="/users/avatar" method="POST" enctype="multipart/form-data">
        <input type="file" name="avatar">
        <button>Subir</button>
    </form>
</body>
</html>